div#sf-module-03382bb9-bad1{
	margin-top: 180px;
}

sf-module {
    overflow: inherit;
}
.sf-module-title {
    display: flex;
    flex-flow: row nowrap;
    margin: 1rem 0 1.1rem;
    width: 100%;
    font-size: 1rem;
    align-items: center;
   
}
.sf-module-title.sf-left:before {
    flex: none;
}
.sf-module-title:before, .sf-module-title:after {
    display: inline-block;
    content: " ";
    height: 1px;
}
.sf-module-title:before, .sf-module-title:after {
    display: inline-block;
    content: " ";
    height: 1px;
}
.sf-module-title.sf-left .sf-title {
    padding-left: 0;
}

.sf-module-title .sf-title {
    display: inline-block;
    flex: none;
    margin: 0;
    padding: 0 20px;
    font-weight: 900;
    font-size: 1.6rem;
    white-space: nowrap;
}
.sf-col-wrapper {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    position: relative;
}

.row {
    margin-right: -15px;
}
.sf-module-title {
    display: flex;
    flex-flow: row nowrap;
    margin: 1rem 0 1.1rem;
    width: 100%;
    font-size: 1rem;
    align-items: center;
}
.sf-col-wrapper .sf-col {
    display: flex;
    float: none;
}
.col-xs-12 {
    width: 500px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}
.sf-module-grid-posts article.sf-entry {
    border-radius: 7px;
    box-shadow: 0 5px 15px rgba(0,0,0,.05);
}
.sf-entry {
    position: relative;
    height: calc(100% - 30px);
    margin-bottom: 30px;
    padding: 20px;
   width: 400px;
    background-color: #fff;
}
article,figure{    display: block;}
@media only screen and (max-width: 767px)
.sf-entry .sf-entry-featured-media {
    margin-bottom: 20px;
}
.sf-entry-horizontal .sf-entry-featured-media {
    flex: none;
}
figure img, .sf-entry-featured-media {
    border-radius: 7px;
    box-shadow: 0 9px 20px 0 rgba(0,0,0,.06);
}

.sf-entry-featured-media {
    position: relative;
    overflow: hidden;
}
figure {
    margin: 0;
}
.sf-entry-featured-media>a {
    position: relative;
    display: block;
    overflow: hidden;
}
 a {
    text-decoration: none;
    transition: .3s;
      color: inherit;
      background-color: transparent;
}
.sf-entry-featured-media>a:before {
    content: " ";
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    transition: background .3s ease;
}
.agg-fade-in.lazyloaded {
    opacity: 1;
}
figure.sf-entry-featured-media a img {
    transition: .3s;
}
.sf-entry-featured-media>img, .sf-entry-featured-media>a>img, .sf-entry-featured-media .owl-carousel .owl-item img {
    width: 100%;
    height: auto;
    vertical-align: top;
}
.sf-entry-header {
    position: relative;
    margin-bottom: 15px;
}
.sf-entry-title {
    margin: 0;
    line-height: 1.1!important;
    font-size: 1.57142rem;
    color: inherit;
}
h3 {
	    font-family: inherit;
    font-weight: 900;
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.sf-entry-title a {
    display: inline-block;
}
